.weatherList__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    max-width:720px;
}
  
@media only screen and (max-width: 720px) {
    .weatherList__content {
      flex-direction: column;
    }
}